.navLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .navLinkContainer {
    display: none;
  }
}

.navLinkContainer a {
  font-size: 14px;
  padding: 5px 20px;
  text-decoration: none;
  color: var(--text-primary);
}

.navLinkContainer button {
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid var(--green);
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  color: var(--text-primary);
}

.navLinkContainer button:hover {
  background-color: var(--green);
  transition: ease 0.5s;
}
